/*спецификация*/
body {
	font-family: 'PT Sans', sans-serif;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4 {
	font-weight: 400;
	color: #232C3B;
}

h1 {
	font-size: 35px;
	font-weight: 700;
}

.title__main {
	padding-top: 60px;
	padding-bottom: 50px;
	font-size: 25px;
	text-align: center;
}
/*Главная*/

.header {
	padding: 15px 0;
}

.menu {
	font-size: 12;	
}

.menu__item a {
	color: #151515;
	text-decoration: none;
}

.menu__item {
	margin-left: 40px;
}

li img {
padding-right: 7px;
}

.days {
	color: #FFD233;
	font-weight: 700;
}

.line-yellow {
	border: none; /* Убираем границу */
    background-color: #FFD233; /* Цвет линии */
    color: #FFD233; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}

.desktop {
	background: url('../img/dt.jpg') no-repeat center top;
	background-size: cover;
}

.offer__title {
	margin: 160px 0 26px 0; 
	width: 540px;
	letter-spacing: 1.3px;
}
.offer__intro {
	margin: 30px 0 350px 0; 
	width: 450px;
}

.form-header {
	font-size: 16px;
	width: auto; 
	margin-bottom: 22px;
}

.form {
	background-color: #ffffff;
	filter: blur opacity(0.5);
	padding: 47px 50px 47px 56px;
	margin: 105px auto;
	border-radius: 25px;
}

.form-btn {
	background-color: #FFD233;
	margin: 11px auto;
	border-radius: 15px;
	border-color: transparent;
	font-weight: 700;
	transition: all 0.3s ease;
}

.form input {
	margin-bottom: 11px;
	border-radius: 15px;
	font-size: 13px;
}

.form-btn:hover {
	border-color: transparent;
	background-color: #FFDC61;
}

/*
.team .des{
 background: #F97300;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
} */

.limitations {
	background: linear-gradient(to bottom, #fff, #DAE4EA);
}

.minus__title {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.minus__text {
	font-size: 12px;
	font-weight: 400;
	text-align: center;
}

.line-blue {
	border: none; /* Убираем границу */
    background-color: #007C97; /* Цвет линии */
    color: #007C97; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    width: 42%;
}

.limit-one {
	height: 100%;
	padding-top: 10%;
	background-color: #fff;
	border-radius: 25px;
	border: #007C97 solid 1px;
}


.limit-one:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/meeting.png') no-repeat right bottom;
	margin: 0 8% 3% 0;	
}

.limit-two {
	height: 100%;
	padding-top: 10%;
	background-color: #fff;
	border-radius: 25px;
	border: #007C97 solid 1px; 
}
.limit-two:before {
	content: "";
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: url('../img/fast-time.png') no-repeat right bottom;
	margin: 0 6% 0% 0;	
}

.minus__text {
	position: relative;
}

.limit-three {
	height: 100%;
	padding-top: 10%;
	background-color: #fff;
	border-radius: 25px;
	border: #007C97 solid 1px;
}

.cheсklist-title {
	font-size: 18px;
	font-weight: 700;
}

.cheсklist-text {
	font-size: 12px;
	width: 100%;
}

.cheсklist-form {
 width: 100%;
}

.cheсklist-form input {
 flex: auto;
 width: 40%;
 border-radius: 15px;
}

.cheсklist-form button {
 flex: auto;
 margin-left: 3em;
}